



<h1 class="prueba"  >Formulario</h1>

<div>
    <mat-slide-toggle>Toggle me!</mat-slide-toggle>
<form class="prueba" >
    
    <div class="form-group"> 
    <label for="name"> Name: </label> 
    <input  type= "text" placeholder="Nombre aqui" required>
    </div>


    <div class="form-group"></div>
    <label for="Lastname"> Last Name: </label> 
    <input  type= "text" placeholder="Apellido Aqui" required>

    <div class="form-group">
        <label for="mail"> E-mail: </label> 
         <input  type= "email"  placeholder="Email Aqui" required>

    </div>
   

    <button type="submit"> Continue </button>


</form>
</div>
